// @import "../../../App.scss";

.rounded-square-left {
    width: 400px;
    min-height: 800px;
    background-color: #f8c66f; /* Màu nền của hình vuông */
    border-radius: 15px 0px 0 15px; /* Bo góc ở cả hai góc trên */
    display: flex;
    align-items: center;
    justify-content: center; /* Màu chữ */
  }
  .rounded-square-right {
    width: 800px;
    min-height: 800px;
    background-color: #fcd8bc; /* Màu nền của hình vuông */
    border-radius: 0 15px 15px 0; /* Bo góc ở cả hai góc trên */
    display: flex;
    align-items: center;
    // margin-left: 1px;
    justify-content: center; /* Màu chữ */
  }
  .box-with-border {
    border-bottom: 1px solid #ffffff; /* Độ dày và màu của đường kẻ */
    padding-bottom: 10px;
  }
