.container {  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px 120px;
    /* background-image: url(@assets/images/background.png); */
  }

  .area1 { grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    animation: fadeInDown 1s ease-in-out;
    }

  .area2 { grid-area: 2 / 1 / 4 / 2;}

  .area3 { grid-area: 2 / 2 / 4 / 3;
    animation: flipInY 1s ease-in-out;
 }

  .area4 { grid-area: 2 / 3 / 4 / 4; }

  .area2_1 {
    grid-area: 2 / 1 / 3 / 2;
    animation: fadeInLeft 1s ease-in-out;
    }

  .area2_2 { grid-area: 3 / 1 / 4 / 2;
    align-self: start;
    animation: fadeInLeft 1s ease-in-out;
 }

  .area4_1 { grid-area: 2 / 3 / 3 / 4;
    animation: fadeInRight 1s ease-in-out;
 }

  .area4_2 { grid-area: 3 / 3 / 4 / 4;
    align-self: start;
    animation: fadeInRight 1s ease-in-out;
    }

    @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translateY(-100%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      @keyframes flipInY {
        from {
          transform: perspective(400px) rotateY(90deg);
          opacity: 0;
        }
        40% {
          transform: perspective(400px) rotateY(-20deg);
        }
        60% {
          transform: perspective(400px) rotateY(10deg);
        }
        80% {
          transform: perspective(400px) rotateY(-5deg);
        }
        to {
          transform: perspective(400px) rotateY(0);
          opacity: 1;
        }
      }
      @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translateX(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

